.container {
    .list-group {
        background-color: orange;
        margin: auto;
        padding: 1rem;
        display: inline-block;

        li:first-child {
            border-radius: 50%;
        }

        .verticle-bar {
            height: 2rem;
            border-left: 3px dotted black;
            margin-left: 1.2rem;
        }

        .list-item {
            list-style: none;
            padding: 0.5rem;
            cursor: pointer;

            .active {
                color: white;
            }

            .nav-link:not(.active) {
                color: black;
                /* Add your desired styles here */
            }
        }

    }

    .top-cap, .bottom-cap {
        border-radius: 50%;
        height: 4rem;
        width: 4rem;
        background-color: red;
    }

    @media (max-width: 768px) {
        .container {
            padding: 0;
           
            background-color: white;
          
            width: 100%;

            .list-group {
                background-color: orange;
                margin: auto;
                padding: 1rem;
                display: flex;
            }

            .verticle-bar {
                display: none;
                /* Hide the vertical bar on smaller screens */
            }

            .list-item {
                text-align: center;
                /* Center the list items */
            }
        }

    }

}