.skill-card-img{
    width: 60px !important;
    text-align: center !important;
    object-fit: "contain" !important;
}
.skill-action-area{
    justify-content: center !important;
    display: flex !important;
}