.sidebar-container{
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    .list-group {
        list-style: none; 
        padding: 0.2rem;
        text-align: center ;
       a {
            color: black;
            text-decoration: none;
        }
        a:hover{
            color: white;
        }
        .active{
            color: white;
        }
    }
    .verticle-bar {
        height: 2rem;
        width: 1px;
        border-left: 3px dotted black;
       margin: auto;
    }
    .verticle-bar-dot {
        text-align: center;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: black;
        margin: auto;
    }
}